*{
	margin-left:5%;
	margin-right:5%;
	font-family:arial;
}

body{
	background-color:#1b1611;
	margin:0px;
}

img{
	display:block;
	margin:0 auto;
	margin-bottom:50px;
	margin-top:50px;
	width: 70%;
	max-width: 700px;
}

ul{
	color:#b2a493;
}

h1{
	font-size:3em;
	color:#f4e3cd;
}

h2{
	font-size:2em;
	color:#ecdac2;
	margin-top:50px;
}

h3{
	color:#cdd6f4;
}

p{
	font-size:1.5em;
	color:#b2a493;
	margin-bottom:30px;
}

li{
	font-size:1.5em;
	color:#b2a493;
	margin-bottom:30px;
}


pre{
	font-size:1.5em;
	color:#b2a493;
	margin-left:3%;
	margin-right:3%;
	margin-bottom:80px;
	font-family:monospace;
	background-color:#1b1611;
	border-radius:30px;
	padding:30px;
}

a{
	text-decoration:inherit;
	margin:0px;
	color:#f9e2af;
}

.centr{
	text-align:center;
}

.centr-wide{
	margin:0 auto;
	text-align:center;
}

.alink{
	margin:10px;
	margin-top:20px;

	background-color:#403930;
	border-radius:10px;
	color:#f5c2e7;
	padding:30px 30px;
	text-align:center;
	text-decoration:none;
	display:inline-block;

	font-size:1.5em;
}

.anotherlink{
	margin:10px;
	margin-top:20px;
	margin-left:5%;
	margin-right:50px;
	width:80%;

	background-color:#403930;
	border-radius:10px;
	color:#f5c2e7;
	padding:30px;
	text-decoration:none;
	display:inline-block;

	font-size:1.5em;
}



.basic{
	width:auto;
	height:auto;

	margin-top: 50px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:200px;


	padding:5%;
	border-radius: 50px;

	
	display:block;

	background-color:#2e271e;
}

.hi{
	color:#f9e2af;
	margin: 0px;
}

.ded{
	color:black;
}
